@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	@font-face {
		font-family: 'DUAL';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url(/dual.ttf);
	}
}
